<div class="dog">  

<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @dog.name %>
</p>

<p>
  <b>Song:</b>
  <%= audio_tag @dog.song, :controls => true 

  %>
</p>

<p>
  <b>Youtube:</b>
  <%= render :partial => 'shared/youtube', :locals => {:youtube => @dog.youtube } %>
</p>


<%= link_to 'Edit', edit_dog_path(@dog) %> |
<%= link_to 'Back', dogs_path %>

</div> <!-- ends dog class div -->