<p id="notice"><%= notice %></p>


<div class="cat">

  <h1>
    This is an H1 tag
  </h1>

  <h2>
    This is an H 2tag 
  </h2>


<p>
  <b>Name:</b>
  <%= @cat.name %>
</p>

<p>
  <b>Song:</b>
  <%= @cat.song %>
</p>

<p>
  <b>Youtube:</b>
  <%= @cat.youtube %>
</p>


<%= link_to 'Edit', edit_cat_path(@cat) %> |
<%= link_to 'Back', cats_path %>

</div> <!-- ends cat class div 