<%= form_for(@alien) do |f| %>
  <% if @alien.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@alien.errors.count, "error") %> prohibited this alien from being saved:</h2>

      <ul>
      <% @alien.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :planet %><br />
    <%= f.text_field :planet %>
  </div>
  <div class="field">
    <%= f.label :spaceship %><br />
    <%= f.text_field :spaceship %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
