<!DOCTYPE html>
<html>
<head>
  <title>AnimalKingdom</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>Animal Kingdom</header>

<nav>
	<%= link_to "HOME", root_path %>
	<%= link_to "ANIMALS", animals_path %>
	<%= link_to "NEW ANIMAL", new_animal_path %>
</nav>

<%= yield %>

<footer> (C) 2012 Animal Kingdom, LLC</footer>

</body>
</html>
