<% @movies.each do |movie| %>

<%= image_tag movie.poster %>

<ul>
	<li><%= movie.name %></li>
	<li><%= movie.gross %></li>
	<li><%= movie.actors %></li>
	<li><%= link_to "DELETE MOVIE", delete_movie_path(movie), :method => :delete %></li>
</ul>
<% end %>


